{% extends "home/base.html" %}

{% block content %}
<div class="container col-md-8">
  <article class="media content-section">

    <div class="media-body">
      <div class="article-metadata">
        <h1>About</h1>
      </div>
      <br>
      <em><h5>Welcome to health monitoring</h5>
        <h6>Online solution towards better health monitoring and lifestyle </h6>
        <br>

        Good medical service has always been expensive throughout the era. Even though we had some really good breakthrough on medical science but it’s still a far fetch idea for most of the people. We want to make a better connection for those who are having problems getting the right treatment due to lack to communication or even money. Our website’s motive is to make a better connection with doctors and patient, getting an E-prescription for the diseases they might have and medications of treatment would be much easier to get. Here in our website, we expect our patients to have a better facility of getting treatment virtually and not having to run for hospitals and medical clinic and stand there for hours. It’s an era of technology and Medical Science are still not developed virtually and this a start towards a better future.
      </em>
      <br>
      <br>
      <br>
      
    </div>
  </article>
</div>

{% endblock content %}
